```
Even: 45x*3
Odd: 24x*2+43y
Input-1:
    20
    1
Output-1:
    Entered number 20 is Even
    Given expression is 45x*3 value is: ?
Input-2:
    11
    4
    5
Output-2:
    Entered number 11 is Odd
    Given expression is 24x*2+43y value is: ?
```

In [2]:
a=int(input())
if a%2==0:
    b=int(input())
    print(f"Entered number {a} is Even")
    print(f"Given expression is 45x*3 value is:{45*b**3}")
else:
    c,d=int(input()),int(input())
    print(f"Entered number {a} is Odd")
    print(f"Given expression is 24x*2+43y value is:{24*c**2+43*d}")

 6
 9

Entered number 6 is Even
Given expression is 45x*3 value is:32805

## Nested if:
    Syntax:
        if condition-1:
            if condition-2:
                //stmnt-1
            else:
                //stmnt-2
        else:
            //stmnt-n

In [7]:
c = input("Enter college code: ")
if c == "KEC":
    b = input("Enter branch: ")
    if b == "CSE":
        y = int(input("Enter your year: "))
        if y == 2:
            n = input("Enter your name: ")
            if n == "raju":
                print(f"Hi Welcome {n}")
            else:
                print(f"Entered name {n} is not equal to raju")
        else:
            print(f"Entered year {y} is not equal to 2nd year")
    else:
        print(f"Entered branch {b} is not equal to CSE")
else:
    print(f"Entered code {c} is not equal to KEC")

Enter college code:  KEC
Enter branch:  CSE
Enter your year:  2
Enter your name:  raju

Hi Welcome raju

## elif:
    Syntax:
        if condition-1:
            //stmnt-1
        elif condition-2:
            //stmnt-2
        elif condition-3:
            //stmnt-3
            |       |
        elif condition-n:
            //stmnt-n
        else:
            //stmnt-(n-2)

In [19]:
k = int(input("Enter a value: "))
if k%2==0 and k%4==0:
    print(f"Entered number {k} is Even and Divisible by 4")
elif k%2==0:
    print(f"Entered number {k} is Even")
elif k<=30:
    print(f"entered number is less than 30")
else:
    print(f"Entered number {k} is Odd")

Enter a value:  35

Entered number 35 is Odd

## Loop:
    - To iterate the n number of statements for n number of times untill the condition is false
    - for => for known ranges
    - while => for known and unknown ranges, infinity loops

## for:
    syntax:
        for iterationvariable_name in range(start,stop,step):
            //statements
                        or
        for iterationvariable_name in iterator:
            //statements

## range:
    range(stop):
        - By default it starts with 0 value
        - It ends with stop-1 value
        - By default it increments with +1 value
        Ex:
            range(4)
            0 1 2 3
    range(start,stop):
        - It starts exactly with start value
        - It ends with stop-1 value
        - By default it increments with +1 value
        Ex:
            range(4,9)
            4 5 6 7 8
    range(start,stop,step):
        - It starts exactly with start value
        - It ends with stop-1 value
        - It increments/decrements with step value
        Ex:
            range(1,10,3)
            1 4 7

In [25]:
k = int(input("Enter a range: "))
for i in range(k):
    print(i,end=" ")

Enter a range:  5

0 1 2 3 4

In [27]:
n = int(input("Enter a range: "))
for i in range(n):
    if i%2==0:
        print("Even",end=" ")
    else:
        print("-1",end=" ")

Enter a range:  5

Even -1 Even -1 Even

```
Input:
    3
Output:
    EMP01
    EMP02
    EMP03
```

In [34]:
m = int(input())
for i in range(m):
    print(f"EMP0{i+1}",end=" ")

 5

EMP01 EMP02 EMP03 EMP04 EMP05

In [33]:
m = int(input())
for i in range(m):
    if i<9:
        print(f"EMP0{i+1}",end=" ")
    else:
        print(f"EMP{i+1}",end=" ")

 11

EMP01 EMP02 EMP03 EMP04 EMP05 EMP06 EMP07 EMP08 EMP09 EMP10 EMP11

In [37]:
m = int(input())
for i in range(m):
    print(f"EMP{i+1:02d}",end=" ")

 11

EMP01 EMP02 EMP03 EMP04 EMP05 EMP06 EMP07 EMP08 EMP09 EMP10 EMP11