# Python Basics:

## Variable:
    - To store a value
    - It changes a value
    - It stores all data type values
    Syntax:
        variable_name = value

## Variable Assignment Types:
    - single variable = single value
    - n number of varialbes = n number of values
    - single variable = n number of values
    - n number of variables = single value

In [1]:
a = 25
a

25

In [2]:
b = 45.25
b

45.25

In [3]:
a
b

45.25

In [4]:
b
a

25

In [5]:
a,b

(25, 45.25)

## Data types:
    - int => numeric
    - float => numeric, decimal values
    - complex => real and imaginary
    - boolean => True or False
    - none => None
    - All Data Structures => [list,tuple,set,string and dictionary]

In [6]:
a = 12
b = 45.021
c = "Ramesh"
d = True
e = 3+5j
a,b,c,d,e

(12, 45.021, 'Ramesh', True, (3+5j))

In [7]:
a,b,c,d,e = 45,23.021,"Prasad",False,6+5j
a,b,c,d,e

(45, 23.021, 'Prasad', False, (6+5j))

In [8]:
a,b,c,d,e = 45,23.021,"Prasad",False,6+5j,None
a,b,c,d,e

ValueError: too many values to unpack (expected 5)

In [9]:
a,b,c,d,e,f = 45,23.021,"Prasad",False,6+5j
a,b,c,d,e,f

ValueError: not enough values to unpack (expected 6, got 5)

In [11]:
a = 45,23.021,"Prasad",False,6+5j
a

(45, 23.021, 'Prasad', False, (6+5j))

In [12]:
k = m = n = 120
k,m,n

(120, 120, 120)

## Input Formatting:
    - It displays the info to a user
    - It reads a value from a user
    - By default it stores string data type value
    Syntax:
        variable_name = input("something info")

In [5]:
a = input("Enter a value: ")
a

Enter a value:  45.021

'45.021'

In [1]:
b = 78
b

78

In [2]:
a

NameError: name 'a' is not defined

In [6]:
b = input("Enter a value: ")
print(b)
b

Enter a value:  23

23

'23'

## Type:
    - To know the data type of a variable value
    Syntax:
        type(variablename)

In [7]:
a,b,c,d,e,f = 45,53.021,"Tilak",4+5j,None,False
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

45 <class 'int'>
53.021 <class 'float'>
Tilak <class 'str'>
(4+5j) <class 'complex'>
None <class 'NoneType'>
False <class 'bool'>

In [8]:
n = input("Enter a value: ")
print(n,type(n))
n,type(n)

Enter a value:  5

5 <class 'str'>

('5', str)

## TypeCasting:
    - To convert the data type of one format to another data type format
    - int()
    - float()
    - complex()
    - bool()
    - All Data Structures[list(),tuple(),set(),str(),dict()]

In [9]:
n = 45
k = float(n)
print(n,type(n))
print(k,type(k))

45 <class 'int'>
45.0 <class 'float'>

In [11]:
m = input("Enter a vlaue: ")
print(m,type(m))
k = int(m)
print(m,type(m))
print(k,type(k))

Enter a vlaue:  12

12 <class 'str'>
12 <class 'str'>
12 <class 'int'>

In [12]:
p = int(input("Enter a value: "))
print(p,type(p))

Enter a value:  45

45 <class 'int'>

```
    Input:
        Enter a value: 12
        Enter b value: 1
    Output:
        Addition of 12 and 1 is: ?
```

## Output Formatting:
    - +,
    - %(format specifiers)
    - .format
    - f string

In [25]:
n = int(input("Enter a value: "))
m = int(input("Enter b value: "))
print("Addition of",n,"and",m,"is:",n+m)
print("Addition of "+str(n)+" and "+str(m)+" is: "+str(n+m))
print("Addition of %d and %d is: %d"%(n,m,n+m))
print("Addition of {} and {} is: {}".format(n,m,n+m))
print("Addition of {1} and {0} is: {2}".format(n,m,n+m))
print(f"Addition of {n} and {m} is: {n+m}")

Enter a value:  4
Enter b value:  5

Addition of 4 and 5 is: 9
Addition of 4 and 5 is: 9
Addition of 4 and 5 is: 9
Addition of 4 and 5 is: 9
Addition of 5 and 4 is: 9
Addition of 4 and 5 is: 9

```
    Input:
        Enter a value: 1
        Enter b value: 2
    Output:
        Entered values are: 1,2
        Entered values are: '1','2'
        A value is: 1.0
        B value is: '2.0'
```

In [29]:
a,b = int(input("Enter a value:")),int(input("Enter b value:"))
print(f"Entered values are: {a},{b}")
print(f"Entered values are: '{a}','{b}'")
print(f"A value is: {float(a)}")
print(f"B value is: '{float(b)}'")

Enter a value: 12
Enter b value: 34

Entered values are: 12,34
Entered values are: '12','34'
A value is: 12.0
B value is: '34.0'

## Keywords or Reserved Words:

In [30]:
import keyword

In [31]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [32]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [33]:
print(len(keyword.kwlist))

36

## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Logical => AND,OR,XOR,NOT
    - Bitwise => &,|,!,>>,<<
    - Relational => !=,==,>=,<=,<,>
    - Assignment => +=,-=,*=,/=,%=,//=,**=
    - Membership => in,not in
    - Identity => is, is not

In [35]:
a,b = 35,25
print(a and b)
print(a & b)
print(b and a)
print(b & a)

25
1
35
1

In [36]:
a,b = 35,25
print(a or b)
print(a | b)
print(b or a)
print(b | a)

35
59
25
59

## Conditional Statements:
    - To check whether the given condition is either True or False
    - if => single condition
    - if-else => two cases
    - elif => n number of cases and based on preference
    - nested if => n number of cases

## if
    Syntax:
        if condition:
            //statement
        () => optional

```
Expression: 3x*2

Input-1:
    6
    2
Output-1:
    Entered value is: 6
    Entered expression value is: 2
    Given expression is: 3x*2 and value is: 12
Input-2:
    5
```

In [38]:
k = int(input())
if k%3==0:
    m = int(input())
    print(f"Entered value is: {k}")
    print(f"Entered expression value is: {m}")
    print(f"Given expression is: 3x*2 and value is: {3*m**2}")

 5

### if-else:
    Syntax:
        if condition:
            //statement-1
        else:
            //statement-2

```
Even: 45x*3
Odd: 24x*2+43y
Input-1:
    20
    1
Output-1:
    Entered number 20 is Even
    Given expression is 45x*3 value is: ?
Input-2:
    11
    4
    5
Output-2:
    Entered number 11 is Odd
    Given expression is 24x*2+43y value is: ?
```